<section class="cid-r1uyUUwXlE" id="footer5-4">
    <div class="container">
        <div class="footer-lower">
            <div class="media-container-row" style="color: rgb(239, 145, 14);">
                <div class="col-md-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2018 | Scored - All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
</section>
