<section class="features1 cid-r1uyFSmZbG" id="features1-3">
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-users" style="color: rgb(239, 145, 14); font-size: 50px;"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Open Discusions
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Share your appraisal report with your supervisor and HR, and discuss training opportunities and other ways how Mildmay can help you grow.
                    </p>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-alert" style="color: rgb(239, 145, 14); font-size: 50px;"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Notifications
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Check notifications to keep track of your appraisal process and requests from colleages
                    </p>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-question" style="color: rgb(239, 145, 14); font-size: 50px;"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Questions
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Contact the HR Team with questions about this tool and a detailed guidelines on 360 HR appraisal and why it's importatand to Mildmay.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
